<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.rkzt.question.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/zt-question/src/main/java" />
        <option name="javaModelPackage" value="com.rkzt.question.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/zt-question/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="zt-question" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="zt-question">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.rkzt.question.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/zt-question/src/main/java" />
                  <option name="javaModelPacakge" value="com.rkzt.question.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/zt-question/src/main/java" />
                  <option name="xmlPackage" value="com.rkzt.question.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/zt-question/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="RKXZT:question">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Question" />
                  <option name="moduleName" value="zt-question" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="com.rkzt.question.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/zt-question/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>