<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.rkzt.user.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/zt-user/src/main/java" />
        <option name="javaModelPackage" value="com.rkzt.user.domain" />
        <option name="javaModelPath" value="$PROJECT_DIR$/zt-user/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="zt-user" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="zt-commoc">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.rkzt.common.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/zt-commoc/src/main/java" />
                  <option name="javaModelPacakge" value="com.rkzt.common.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/zt-commoc/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/zt-commoc/src/main/java" />
                  <option name="javaServicePackage" value="com.rkzt.common.service" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/zt-commoc/src/main/java" />
                  <option name="xmlPackage" value="com.rkzt.common.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/zt-commoc/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="zt-user">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.rkzt.user.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/zt-user/src/main/java" />
                  <option name="javaModelPacakge" value="com.rkzt.user.domain" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/zt-user/src/main/java" />
                  <option name="xmlPackage" value="com.rkzt.user.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/zt-user/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="RKXZT:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="zt-user" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="gaokao:user_information">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="UserInformation" />
                  <option name="moduleName" value="zt-commoc" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useMybatisPlus2" value="true" />
        <option name="xmlMapperPackage" value="com.rkzt.user.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/zt-user/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>